<html>
<head>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/marionette/lib/backbone.marionette.js"></script>

</head>
<body>
  <h1>Problem</h1>
  <p>To display Backbone collection you usually want to create single ModelView and make create CollectionView which will use it. This requires lots of boilerplate code as you have to write code for add, remove and reset events of the model.</p>
  <h1>Solution</h1>
  <p>Backbone.Marionette.CollectionView handles all that for us</p>
  <h1>Example</h1>
  <p>The code below will add and remove new Models to the Collection when you click on the list</p>

  <script>
  var collection = new Backbone.Collection([{name: 1, value: 'one'}, {name: 2, value: 'two'}, {name: 3, value: 'three'}]);

  var template = _.template('<div><%= name %> = <%= value %></div>');
  var ItemView = Backbone.Marionette.ItemView.extend({
    template: template,
    onShow: function(){
      console.log('show', this.model);
    }
  });

  if (false) {
    // simple collection view
    var CollectionView = Backbone.Marionette.CollectionView.extend({
      itemView: ItemView
    });
    var collectionView = new CollectionView({
      collection: collection
    });
    collectionView.render();
    $('body').append(collectionView.el);
    collectionView.trigger('show'); // trigger show so that the collectionView triggers show on the children
  } else {
    // composite view with loader support
    var compositeTemplate = _.template('<div class="view"></div><div class="loader">loader</div>');
    var CompositeView = Backbone.Marionette.CompositeView.extend({
      initialize: function(){
      },
      itemView: ItemView,
      template: compositeTemplate,
      itemViewContainer: '.view',
      ui: {
        'loader': '.loader'
      },
      events: {
        'click': 'load'
      },
      collectionEvents: {
        'before:load': 'beforeLoad',
        'after:load': 'afterLoad'
      },
      beforeLoad: function(){
        this.ui.loader.html('loading');
      },
      afterLoad: function(){
        this.ui.loader.html('loaded');
      },
      load: function(){
        this.collection.load();
      }
    });
    var compositeView = new CompositeView({
      collection: collection
    });
    compositeView.render();
    $('body').append(compositeView.el);
    compositeView.trigger('show'); // trigger show so that the collectionView triggers show on the children
  }
  // this function will do fetch internally
  var j = 0;
  collection.load = function() {
    collection.trigger('before:load'); // do it as marionette does it

    setTimeout(function() {
      // call fetch
      for (var i = 0; i < 5; i++) {
        collection.add({name: 'name' + ++j, value: j});
      }

      collection.trigger('after:load');
    }, 1000);
  }
  collection.load();
  </script>
</body>
</html>
